$color-main: #347107;
$color-main-second: #87c74f;
$test: #559e11;
$header-height: 70px;
$section-min-height: 70vh;

body {
    max-width: 1920px;
}

header#header-body {
    position: sticky;
    top: 0;
    z-index: 99;
}

.header-row {
    width: 100%;
    height: $header-height;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    //font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 2px solid lightgray;
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: 1fr;
    align-items: center;
    a {
        text-decoration: none;
    }

    .logo {
        margin-left: 15%;

        img {
            height: 60px;
        }
    }
}

.logo {
    margin-left: 20px;
    display: inline-block;
    grid-column: 1 / 5; 
}

.navbar {
    font-size: 1.2rem;
    color: black;
    height: $header-height;
    margin-right: 20px;
    grid-column: 5 / span 4;
    display: flex;
    align-items: center;
    column-gap: 15px;

    #vert-separator {
        height: 75%;
        border: 1px solid black;
    }

    a {
        flex: 1 1 auto;
        text-align: center;
        color: inherit;
        font-weight: bold;
        text-decoration: none;
        transition: color 0.7s;
        //wysokosc linii dla elementow naglowka
        line-height: $header-height * 0.5;
        position: relative;

        div {
            opacity: 0;
            border-bottom: 2px solid $color-main;
            position: absolute;
            left: 15%;
            right: 15%;
            transition: opacity 0.7s;
        }

        div#active {
            opacity: 1;
            border-bottom: 2px solid $color-main;
            position: absolute;
            left: 15%;
            right: 15%;
        }
    }

    a:hover {
        color: $color-main;

        div {
            opacity: 1;
        }
    }
   

}

#phone {
    grid-column: 9 / -1;
    background-image: linear-gradient($color-main, $color-main-second 65%);
    border-radius: 25px;
    margin-right: 25%;
    text-align: center;
    font-size: 1.5rem;

    a {
        color: white;
        font-size: 2rem;
    }
}

img#img-phone {
    vertical-align: middle;
}

/***************************** main **********************************/

main {
    width: 80%;
    margin: auto;
}

.entry {
    width: 100%;
    min-height: 80vh;
    background-image: url('../img/20.gif');
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

    .entry-offer {
        position: relative;
        grid-column: 1 / 13;
        grid-row: 1 / 2;
        background: white;
        opacity: 0.8;
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        .entry-offer-content {
            grid-column: 2 / 9;
            grid-row: 1 / 2;
            z-index: 2;
            font-size: 3.5rem;
            font-weight: bold;
            position: relative;
            padding: 150px;
            padding-left: 30px;
            padding-top: 120px;
            text-align: center;

            div {
                padding-right: 25%;
                background-repeat: no-repeat;
                background-size: cover;
                background-image: url('../img/grass.gif');
                background-clip: text;
                -webkit-background-clip: text;
                color: transparent;
            }

            p {
                font-size: 1.3rem;
                color: black;
                margin-top: 50px;
            }

            button {
                margin-top: 50px;
                padding: 20px;
                border-radius: 15px;
                font-size: 1.4rem;
                font-weight: bold;
                background-image: linear-gradient(to bottom right, $color-main, $color-main-second 55%);
            }

            button:hover {
                background-image: linear-gradient(to bottom right, lighten($color-main,20%), lighten($color-main-second, 20%) 55%);
            }
        }

        .entry-offer-skew {
            background: white;
            //opacity: 0.8;
            //width: 100%;
            //height: 100%;
            //position: absolute;
            //top: 0;
            //left: 40%;
            //margin-left: 59%;
            grid-column: 3 / 9;
            grid-row: 1 / 2;
            z-index: 1;
            transform: skew(-35deg, 0deg);
        }

        .entry-art {
            grid-column: 7 / 13;
            grid-row: 1 / 2;
            background-image: linear-gradient($color-main, 
            lighten($color-main, 50%)
            );
            opacity: 0.8;
            //transform: skew(-35deg, 0deg) translate(30%, 0);
        }

    }
}


/*************************** main end **********************************/

/*************************** skills **************************************/

.skills {
    min-height: 70vh;
    //margin-top: 50px;

    h2 {
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        color: $color-main;
        font-size: 2rem;
    }
}

.section-skills {
    display: flex;
    
    align-items: center;
    justify-content: space-around;
    //background-image: linear-gradient($color-main, $color-main-second 50%);
    //background-color: lighten(lightgray, 10%);
    background-color: white;

    .skills-card {
        border: 1px solid black;
        height: 350px;
        width: 20%;
        text-align: center;
        background-color: #f9f9f9;
        background-color: lighten(lightgray, 12%);

        span.title {
            font-weight: bold;
            font-size: 1.3rem;
            margin-top: 10%;
            margin-bottom: 10px;
            display: inline-block;
        }

        > div {
            width: 85%;
            margin: auto;
        }
    }

    img {
        height: 150px;
        width: 150px;
        margin-top: 10%;
    }
}

/*************************** skills end **********************************/


/*************************** projects  **********************************/

.projects {

    min-height: 70vh;
    background-image: linear-gradient(to bottom right, lighten($color-main,20%), lighten($color-main-second, 20%) 55%);
    padding-top: 50px;
    margin-bottom: 50px;

    > h2 {
        text-align: center;
    }

    .prjs-container { 
        background-color: transparent;
        width: 100%;
        height: 500px;
        perspective: 1000px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .prjs-card {
        border: 2px solid black;
        position: relative;
        width: 15%;
        height: 250px;
        transition: transform 1s;
        transform-style: preserve-3d;
        cursor: pointer;

        .prjs-card-front {
            position: absolute;
            width: 100%;   
            height: 250px; 
            backface-visibility: hidden;
            background-color: gray;
        }

        .prjs-card-back {
            position: absolute;
            width: 100%;  
            height: 250px;
            backface-visibility: hidden;
            background-color: lightgreen;
            transform: rotateY(180deg);
        }
    }

    .card-flip {
        transform: rotateY(180deg);
    }

}
      


/*************************** projects end **********************************/
/***************************************************************************/
/*************************** footer ********************************/


#home-footer {
    width: 100%;
    background-color: darkblue;
}

.footer {
    margin: auto;
    width: 80%;
    color: white;
    display: flex;
    justify-content: center;

    .f-services {
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }

    > div {
        flex: 1 1 auto;
    }

}

/*************************** footer end **********************************/

/*************************** contact page **********************************/
.contact-main {
        line-height: 1.6;
        font-family: Arial, Helvetica, sans-serif;
        padding: 1em;
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;

        .contact-brand {
            text-align: center;
        }

        * {
            box-sizing: border-box;
        }
}

/*************************** contact-container  **********************************/
.contact-container {
    
    background-image: linear-gradient(to bottom right, $color-main, $color-main-second 55%);

    ul {
        list-style: none;
        padding: 0;
    }

    .wrapper {
        box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
    }

    .wrapper > * {
        padding: 1em;
    }

    .company-info {
        border-bottom: 2px solid black;
        h3, ul {
            text-align: center;
            margin: 0 0 1rem 0;
        }
    }

    .contact {
        
        /* form styles */

        form {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }

        label {
            display: block;
        }

        p {
            margin: 0;
        }

        .full {
            grid-column: 1 / 3;
        }

        button, input, textarea {
            width: 100%;
            padding: 1em;
        }

        .submit {
            background: lightgray;
            border: 0;
            text-transform: uppercase;
        }

        .submit:hover, .submit:focus {
            background: white;
            cursor: pointer;
            color: $color-main;
            font-weight: bold;
            outline: 0;
        }

    }
}
/*************************** contact-container end **********************************/

/*************************** contact page end **********************************/



/*************** do usunięcia  **********************/
#test {
    //background-image: url('../img/white.mp4');
    //background-repeat: no-repeat;
    position: relative;

    video {
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
    }
}
#test2 {
    color: white;
    background-color: $color-main-second;
    opacity: 0.65;
}
