@charset "UTF-8";
body {
  max-width: 1920px;
}

header#header-body {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
}

.header-row {
  width: 100%;
  height: 70px;
  background-color: white;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 2px solid lightgray;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[11];
      grid-template-columns: repeat(11, 1fr);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-row a {
  text-decoration: none;
}

.header-row .logo {
  margin-left: 15%;
}

.header-row .logo img {
  height: 60px;
}

.logo {
  margin-left: 20px;
  display: inline-block;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-column: 1 / 5;
}

.navbar {
  font-size: 1.2rem;
  color: black;
  height: 70px;
  margin-right: 20px;
  -ms-grid-column: 5;
  -ms-grid-column-span: 4;
  grid-column: 5 / span 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15px;
          column-gap: 15px;
}

.navbar #vert-separator {
  height: 75%;
  border: 1px solid black;
}

.navbar a {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  text-align: center;
  color: inherit;
  font-weight: bold;
  text-decoration: none;
  -webkit-transition: color 0.7s;
  transition: color 0.7s;
  line-height: 35px;
  position: relative;
}

.navbar a div {
  opacity: 0;
  border-bottom: 2px solid #347107;
  position: absolute;
  left: 15%;
  right: 15%;
  -webkit-transition: opacity 0.7s;
  transition: opacity 0.7s;
}

.navbar a div#active {
  opacity: 1;
  border-bottom: 2px solid #347107;
  position: absolute;
  left: 15%;
  right: 15%;
}

.navbar a:hover {
  color: #347107;
}

.navbar a:hover div {
  opacity: 1;
}

#phone {
  grid-column: 9 / -1;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#347107), color-stop(65%, #87c74f));
  background-image: linear-gradient(#347107, #87c74f 65%);
  border-radius: 25px;
  margin-right: 25%;
  text-align: center;
  font-size: 1.5rem;
}

#phone a {
  color: white;
  font-size: 2rem;
}

img#img-phone {
  vertical-align: middle;
}

/***************************** main **********************************/
main {
  width: 80%;
  margin: auto;
}

.entry {
  width: 100%;
  min-height: 80vh;
  background-image: url("../img/20.gif");
  background-repeat: no-repeat;
  background-size: cover;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.entry .entry-offer {
  position: relative;
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / 13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background: white;
  opacity: 0.8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
}

.entry .entry-offer .entry-offer-content {
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 2;
  font-size: 3.5rem;
  font-weight: bold;
  position: relative;
  padding: 150px;
  padding-left: 30px;
  padding-top: 120px;
  text-align: center;
}

.entry .entry-offer .entry-offer-content div {
  padding-right: 25%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../img/grass.gif");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.entry .entry-offer .entry-offer-content p {
  font-size: 1.3rem;
  color: black;
  margin-top: 50px;
}

.entry .entry-offer .entry-offer-content button {
  margin-top: 50px;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.4rem;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#347107), color-stop(55%, #87c74f));
  background-image: linear-gradient(to bottom right, #347107, #87c74f 55%);
  cursor: pointer;
}

.entry .entry-offer .entry-offer-content button:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#60d10d), color-stop(55%, #bce09c));
  background-image: linear-gradient(to bottom right, #60d10d, #bce09c 55%);
}

.entry .entry-offer .entry-offer-skew {
  background: white;
  -ms-grid-column: 3;
  -ms-grid-column-span: 6;
  grid-column: 3 / 9;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  z-index: 1;
  -webkit-transform: skew(-35deg, 0deg);
          transform: skew(-35deg, 0deg);
}

.entry .entry-offer .entry-art {
  -ms-grid-column: 7;
  -ms-grid-column-span: 6;
  grid-column: 7 / 13;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#347107), to(#b3f780));
  background-image: linear-gradient(#347107, #b3f780);
  opacity: 0.8;
}

/*************************** main end **********************************/
/*************************** skills **************************************/
.skills {
  min-height: 70vh;
}

.skills h2 {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #347107;
  font-size: 2rem;
}

.section-skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: white;
}

.section-skills .skills-card {
  border: 1px solid black;
  height: 350px;
  width: 20%;
  text-align: center;
  background-color: #f9f9f9;
  background-color: #f2f2f2;
}

.section-skills .skills-card span.title {
  font-weight: bold;
  font-size: 1.3rem;
  margin-top: 10%;
  margin-bottom: 10px;
  display: inline-block;
}

.section-skills .skills-card > div {
  width: 85%;
  margin: auto;
}

.section-skills img {
  height: 150px;
  width: 150px;
  margin-top: 10%;
}

/*************************** skills end **********************************/
/*************************** projects  **********************************/
.projects {
  min-height: 70vh;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#60d10d), color-stop(55%, #bce09c));
  background-image: linear-gradient(to bottom right, #60d10d, #bce09c 55%);
  padding-top: 50px;
  margin-bottom: 50px;
}

.projects > h2 {
  text-align: center;
}

.projects .prjs-container {
  background-color: transparent;
  width: 100%;
  height: 500px;
  -webkit-perspective: 1000px;
          perspective: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projects .prjs-card {
  border: 2px solid black;
  position: relative;
  width: 15%;
  height: 250px;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  cursor: pointer;
}

.projects .prjs-card .prjs-card-front {
  position: absolute;
  width: 100%;
  height: 250px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: gray;
}

.projects .prjs-card .prjs-card-back {
  position: absolute;
  width: 100%;
  height: 250px;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  background-color: lightgreen;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.projects .card-flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

/*************************** projects end **********************************/
/***************************************************************************/
/*************************** footer ********************************/
#home-footer {
  width: 100%;
  background-color: darkblue;
}

.footer {
  margin: auto;
  width: 80%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .f-services ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer > div {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

/*************************** footer end **********************************/
/*************************** contact page **********************************/
.contact-main {
  line-height: 1.6;
  font-family: Arial, Helvetica, sans-serif;
  padding: 1em;
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
}

.contact-main .contact-brand {
  text-align: center;
}

.contact-main * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*************************** contact-container  **********************************/
.contact-container {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#347107), color-stop(55%, #87c74f));
  background-image: linear-gradient(to bottom right, #347107, #87c74f 55%);
}

.contact-container ul {
  list-style: none;
  padding: 0;
}

.contact-container .wrapper {
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}

.contact-container .wrapper > * {
  padding: 1em;
}

.contact-container .company-info {
  border-bottom: 2px solid black;
}

.contact-container .company-info h3, .contact-container .company-info ul {
  text-align: center;
  margin: 0 0 1rem 0;
}

.contact-container .contact {
  /* form styles */
}

.contact-container .contact form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

.contact-container .contact label {
  display: block;
}

.contact-container .contact p {
  margin: 0;
}

.contact-container .contact .full {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.contact-container .contact button, .contact-container .contact input, .contact-container .contact textarea {
  width: 100%;
  padding: 1em;
}

.contact-container .contact .submit {
  background: lightgray;
  border: 0;
  text-transform: uppercase;
}

.contact-container .contact .submit:hover, .contact-container .contact .submit:focus {
  background: white;
  cursor: pointer;
  color: #347107;
  font-weight: bold;
  outline: 0;
}

/*************************** contact-container end **********************************/
/*************************** contact page end **********************************/
/*************************** about page  **********************************/
.about-entry {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}

.about-entry .about-entry-text {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 60%;
          flex: 0 0 60%;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.about-entry .about-entry-text h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3.5rem;
}

.about-entry .about-entry-text h1:after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #347107;
  margin-top: .5em;
}

.about-entry .about-entry-text p {
  line-height: 1.7;
  font-size: 1.5rem;
}

.about-entry .about-entry-text button {
  margin-top: 50px;
  padding: 20px;
  border-radius: 15px;
  font-size: 1.4rem;
  font-weight: bold;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#347107), color-stop(55%, #87c74f));
  background-image: linear-gradient(to bottom right, #347107, #87c74f 55%);
  cursor: pointer;
}

.about-entry .about-entry-text button:hover {
  background-image: -webkit-gradient(linear, left top, right bottom, from(#60d10d), color-stop(55%, #bce09c));
  background-image: linear-gradient(to bottom right, #60d10d, #bce09c 55%);
}

.about-entry .about-entry-map {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40%;
          flex: 0 0 40%;
  max-height: 400px;
  max-width: 40%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about-entry .about-entry-map img {
  max-width: 100%;
  height: 400px;
}

.aboute-welcome {
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboute-welcome p {
  line-height: 1.5rem;
}

.aboute-welcome .about-welcome-text h2:after {
  content: " ";
  display: block;
  width: 80px;
  height: 3px;
  background-color: #347107;
  margin-top: .5em;
}

.aboute-welcome .about-welcome-open {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.aboute-welcome .about-welcome-desc {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.aboute-welcome .about-welcome-desc-rows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.aboute-welcome .about-welcome-desc-rows:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.aboute-welcome .about-welcome-desc-rows:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

/*************************** about page end **********************************/
/*************************** services page **********************************/
.serv-webdev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.serv-webdev > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.serv-webdev .serv-webdev-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.serv-webdev .serv-webdev-icons > .serv-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.serv-webdev .serv-webdev-icons > .serv-left div:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.serv-webdev .serv-webdev-icons > .serv-left div:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.serv-seo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.serv-seo > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.serv-seo .serv-seo-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.serv-seo .serv-seo-icons > .serv-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.serv-seo .serv-seo-icons > .serv-right div:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

.serv-seo .serv-seo-icons > .serv-right div:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.serv-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.serv-email > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
}

.serv-email .serv-email-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.serv-email .serv-email-icons > .serv-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.serv-email .serv-email-icons > .serv-left div:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
}

.serv-email .serv-email-icons > .serv-left div:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
}

/*************************** services page end **********************************/
/*************** do usunięcia  **********************/
#test {
  position: relative;
}

#test video {
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#test2 {
  color: white;
  background-color: #87c74f;
  opacity: 0.65;
}
/*# sourceMappingURL=style.css.map */